h1 {
  font-size: 2rem;
  text-transform: uppercase;
}
h2 {
  font-size: 1.7rem;
  text-transform: capitalize;
  opacity: 60%;
}
h3 {
  font-size: 1.2rem;
  text-transform: capitalize;
}
.bold-text {
  font-weight: bold;
}
.illustration {
  background-image: url(../images/Monitor.jpg);
}
/* flex */
main {
  display: grid;
  grid-gap: 50px;
  justify-content: space-evenly;
  margin: 50px 100px 100px;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "account vertical-line content-2"
    "footer footer footer";
}
.account {
  grid-area: account;
}
.content-2 {
  grid-area: content-2;
}
.vertical-line {
  border: var(--vertical-line);
  grid-area: vertical-line;
  margin-left: 50px;
  margin-right: 50px;
}
footer {
  grid-area: footer;
}
