h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-style: bold;
}
.text {
  font-size: 1em;
  text-transform: uppercase;
  opacity: 50%;
  margin-bottom: 35px;
}
.label-1,
.label-2,
.label-3 {
  margin-bottom: 20px;
  font-size: 1em;
}
input, textarea {
	font-size: 1em;
	padding: 5px;
	width: 200px;
	margin-top: 5px;
	cursor: pointer;
	border: 1px solid lightgray;
}
input:hover, textarea:hover{
  border-color: rgb(255, 102, 0);
}
.label-3 {
  margin-bottom: 45px;
}
.container .form-cta{
  box-shadow:1px 5px 5px 1px #00000031;
}
.container {
  max-height: 525px;
  max-width:250px;
  padding: 45px;
  padding-bottom: 50px;
  background-color:#fff;
  border:1px solid lightgray;
  border-radius:5px;
  margin:0px auto;
  margin-top:85px;
}
fieldset {
  border: none;
}
footer {
  margin-left:45%;
  margin-bottom:50px;
  margin-top:15%;

}
/* Form validation*/
.form-error {
	font-size: 0.9em;
	margin-top: 5px;
	color: rgb(200, 0, 0);
  display:none;
}
/* .message-confirmation{
  max-height: 525px;
  max-width:250px;
  padding: 45px;
  padding-bottom: 50px;
  position:absolute;
  margin-left:45%;
  margin-top:50px;
} */