h1 {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-style: bold;
}
h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: bold;
}
.text {
  font-size: 0.8rem;
  text-transform: uppercase;
  opacity: 50%;
}
.form-input {
  display: block;
}
fieldset {
  display: inline-block;
  max-width: 500px;
  padding: 50px;
  margin-left: 40%;
  margin-bottom: 150px;
}
.label-1,
.label-2,
.label-3 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.label-3 {
  margin-bottom: 65px;
}
