.illustration {
  background-image: url(../images/devices.png);
  background-size: contain;
  background-repeat: no-repeat;
}
section.illustration {
  max-width: 1000px;
  height: 1000px;
  margin-top: 100px;
}
h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-style: bold;
}
h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-style: bold;
}
.text {
  font-size: 2em;
  text-transform: uppercase;
  opacity: 50%;
}
.form-input {
  display: block;
  font-size: 2rem;
}
fieldset {
  max-height: 850px;
  border: 1px;
  border-width: 1px;
  border-color: white;
  border-style: outset;
  box-shadow: 0px 3px 6px 0px #999999;
  border-radius: 25px;
  padding: 50px;
}
.checkbox {
  margin-top: 50px;
  margin-bottom: 75px;
}

.section {
  padding: 20px;
  text-align: center;
}

.fas {
  padding: 10px;
}
.link {
  margin-top: 50px;
}
/* flex */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 150px;
}
