.illustration {
  background-image: url(../images/devices.png);
  background-size: contain;
  background-repeat: no-repeat;
}
section.illustration {
  width: 400px;
  height: 400px;
  margin-top: 50px;
}
h1 {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-style: bold;
}
h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: bold;
}
.text {
  font-size: 1.25rem;
  text-transform: uppercase;
  opacity: 50%;
}
.form-input {
  display: block;
}

.checkbox,
.cta {
  display: block;
}
.checkbox {
  margin-top: 20px;
  margin-bottom: 20px;
}
.cta {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0px;
  width: 150px;
}
.section {
  padding: 20px;
}
