.illustration {
  background-image: url(../images/devices.png);
  background-size: contain;
  background-repeat: no-repeat;
}
section.illustration {
  width: 400px;
  height: 400px;
}
h1 {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-style: bold;
}
h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-style: bold;
}
.text {
  font-size: 1.25rem;
  text-transform: uppercase;
  opacity: 50%;
}
