h1 {
  font-size: var(--size-h1);
  text-transform: uppercase;
}
h2 {
  font-size: var(--size-h2);
  text-transform: capitalize;
  opacity: 60%;
}
h3 {
  font-size: 1.2em;
  text-transform: capitalize;
}
h4 {
  margin-top: 5px;
  margin-left: 8px;
}
.item {
  max-width: ;
}
.vertical-line {
  border: var(--vertical-line);
}
/*flex*/
.movies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  row-gap: 25px;
  margin-top: 50px;
}

/* Grid */
main {
  display: grid;
  grid-gap: 50px;
  justify-content: space-evenly;
  margin: 50px 100px 100px;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "account vertical-line info"
    "account vertical-line movies"
    "footer footer footer";
}
.account {
  grid-area: account;
}
.text {
  grid-area: info;
}
footer {
  grid-area: footer;
}
.vertical-line {
  grid-area: vertical-line;
  margin-left: 50px;
  margin-right: 50px;
}
