@font-face {
  font-family: "Palatino Linotype";
  src: url(https://fonts.adobe.com/fonts/latino-urw) format(URW);
}

body {
  font-family: verdana, tahoma, sans-serif;
}
main{
  max-width:1400px;
  margin:auto;
}
/*Custom properties*/
:root {
  --size-h1: 2.2em;
  --size-h2: 1.5em;
  --size-h3: 1.2;
  --vertical-line: thin inset #999999;
  --main-yellow: #f2b705;
  --font-style: italic;
  --link-color: #004349;
}
/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  position: sticky;
  z-index: 1;
  max-width:90%;
  margin:auto;
  margin-top: 50px;
}
.logo {
  max-height: 125px;
  max-width: 175px;
}
nav li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
  padding-right: 50px;
  padding-left: 50px;
  font-family: "palatino linotype", verdana;
  margin-top: 50px;
}
ul {
  margin: 0px;
}
nav a {
  color: #595959;
  text-decoration: none;
}
nav a:hover {
  color: #000;
}
.active {
  color: #000;
}
h1 {
  font-size: 1em;
}
h1,
h2,
h3,
h4 {
  font-family: "Palatino Linotype", georgia, serif;
}
/*hidden hamburger menu*/

#hamburger-menu {
  display:none;
}

#hamburger-menu:checked ~ nav {
  display:none;
}
.hamburger-label {
  display:none;
}

/*icons*/
.icons {
  margin-top: 45px;
}
.facebook,
.instagram,
.message {
  max-width: 30px;
  padding: 10px;
  margin-right: 10px;
}
.account-icon {
  width: 45px;
  height: 45px;
  margin-left: 50px;
}

/* CTA */

.cta {
  font-size: 1em;
  background-color: #f2b705;
  color: #000;
  text-decoration: none;
  padding: 20px;
  border-radius: 45px;
  text-align: center;
  margin-right: 30px;
  transition-duration: 0.5s;
  box-shadow: 2px 5px 5px 2px #999999;
}
.cta:hover {
  background-color: #ffd454;
}
.link {
  color: #004349;
  text-decoration: none;
  font-style: italic;
  font-size:0.9em;
}

/*account, members and producers*/
.account {
  max-width: 500px;
  height: auto;
  background: linear-gradient(#f2b705, #a87e01);
  padding: 50px;
  border-radius: 30px;
  border-width: 1px;
  border-color: var(--main-yellow);
  box-shadow: 0px 5px 5px 3px #999999;
}

.account-list {
  font-size: 1.5em;
  list-style-type: none;
  padding: 0px;
}
.account-login {
  color: #000;
  text-decoration: none;
}
.number-one {
  margin-top: 45px;
}
.number-two {
  margin-top: 45px;
}
.number-three {
  margin-top: 45px;
  margin-bottom: 75px;
}
.log-out {
  font-size: 1em;
  text-decoration: none;
  color: #000;
}
/*movie categories*/

ul a {
  text-decoration: none;
  color: #595959;
}
ul a:hover {
  color: #000;
}

footer::before,
footer::after {
  content: "/";
  font-size: 1.5rem;
  font-weight: bold;
}
footer {
  margin-top: 150px;
}

/*mainly header media-queries*/
@media (max-width: 1600px) {
  .facebook,
  .message,
  .instagram {
    display: none;
  }
  nav li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 50px;
    padding: 30px;
  }
  .account-icon {
    width: 45px;
    height: 45px;
   
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: #fff;
    position: sticky;
    z-index: 1;
    margin-top: 50px;
  }
}
@media (max-width: 1200px) {
  nav li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-top: 50px;
    padding: 50px;
  }
  .cta {
    font-size: 0.9em;
    background-color: #f2b705;
    color: #000;
    text-decoration: none;
    padding: 25px;
    border-radius: 45px;
    text-align: center;
  }
}

@media (max-width: 1100px) {
nav{
  display:none;
  order:1;
  position:absolute;
  margin-right:0;
  padding:20px 50px 40px 20px;
  margin-top:100px;
  width:50vw;
  border-bottom:1px solid rgb(43, 43, 43);
  border-left:1px solid rgb(43, 43, 43);
  border-right:1px solid rgb(43, 43, 43);
}

#hamburger-menu {
  display:none;
}

#hamburger-menu:checked ~ nav {
  display:block;
  background-color:#fff;
}
.hamburger-label {
  font-size: 2em;
  display:block;
  position: relative;
  order:1;
}
nav li{
  display:block;
  padding:0px;
  font-size:1em;
}
.account-icon{
  width:35px;
  height:35px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #fff;
  position: sticky;
  z-index: 1;
  margin-top: 50px;
}
.logo {
  max-height: 125px;
  max-width: 175px;
}

/*other media queries*/
@media (max-width: 800px){
  .logo {
    max-height: 125px;
    max-width: 175px;
  }
  nav li{
    display:block;
    padding:0px;
  }
  .account-icon {
    width: 40px;
    height: 40px;
  }
  .cta {
    font-size: 0.8em;
    background-color: #f2b705;
    color: #000;
    text-decoration: none;
    padding: 20px;
    border-radius: 35px;
    text-align: center;
  }
}
@media (max-width: 600px){
  .logo {
    max-height: 100px;
    max-width: 125px;
  }
  nav li{
    display:block;
    padding:0px;
    font-size:0.9em;
    margin-top:25px;
  }
  .cta {
    font-size: 0.7em;
    background-color: #f2b705;
    color: #000;
    text-decoration: none;
    padding: 15px;
    border-radius: 30px;
    text-align: center;
  }
  .link {
    color: #004349;
    text-decoration: none;
    font-style: italic;
    font-size:0.8em;
  }
  .account-icon {
    width: 30px;
    height: 30px;
  }
}

@media (max-width:450px){
  header{
    margin-left:5%;
    margin-right:5%;
  }
  .account-icon{
    margin-right:10px;
  }
}  