@font-face {
  font-family: "Palatino Linotype";
  src: url(https://fonts.adobe.com/fonts/latino-urw) format(URW);
}
body {
  font-family: verdana, tahoma, sans-serif;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  background-color: #fff;
  color: #fff;
  z-index: 1;
}
nav {
}
.logo {
  height: 150px;
  width: 200px;
  margin-top: 50px;
  margin-left: px;
}
nav li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

nav a {
  color: #909090;
  text-decoration: none;
}
nav a:hover {
  color: #000;
}
.active {
  color: #000;
}
h1 {
  font-size: 2.5em;
}
h1,
h2,
h3,
h4 {
  font-family: "Palatino Linotype", georgia, serif;
}

nav,
.logo,
.icons,
.login-icon {
  background-color: #fff;
  z-index: 1;
}
/* Movie nav */

.moviepagenav a {
  color: #000;
}
.moviepagenav a:hover {
  color: #fff;
}

/*icons*/
.icons {
  margin-top: 100px;
}
.facebook {
  padding: 10px;
}
.instagram {
  padding: 10px;
}
.message {
  padding: 10px;
}
.account-icon {
  width: 75px;
  height: 55px;
}
/* CTA */
.cta {
  font-size: 2em;
  background-color: #f2b705;
  color: #000;
  text-decoration: none;
  padding: 25px;
  border-radius: 45px;
  text-align: center;
  margin-right: 50px;
}
.cta:hover {
  background-color: #f5c432;
}
.link {
  color: #004349;
  text-decoration: none;
  font-style: italic;
}
.account {
  max-width: 850px;
  height: auto;
  background: #f2b705;
  padding: 75px;
  border-radius: 30px;
}
.moviebackground {
  background-color: #707070;
}
.moviepagetext {
  color: #fff;
}
.moviepageline {
  color: #fff;
}

/*account list/box */

ul {
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}
ul a {
  text-decoration: none;
  color: #858585;
}
ul a:hover {
  color: #000;
}
.account-icon {
  max-width: 50px;
  margin-left: 50px;
}
.account-login {
  color: #000;
  text-decoration: none;
}
.account-list {
  font-size: 2.5rem;
  list-style-type: none;
}

.number-one {
  margin-top: 45px;
}
.number-two {
  margin-top: 45px;
}
.number-three {
  margin-top: 45px;
  margin-bottom: 100px;
}
.log-out {
  font-size: 1.8rem;
  text-decoration: none;
  color: #000;
}

footer::before,
footer::after {
  content: "/";
  font-size: 1.5rem;
  font-weight: bold;
}
