@font-face {
  font-family: "Palatino Linotype";
  src: url(https://fonts.adobe.com/fonts/latino-urw) format(URW);
}
body {
  font-family: verdana, tahoma, sans-serif;
}

/* header */

header {
  display: inline;
}

.logo {
  height: 100px;
  width: 150px;
  margin-top: 35px;
  margin-left: 35px;
}
nav li {
  display: inline-block;
  padding: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-left: 100px;
}

nav a {
  color: #909090;
  text-decoration: none;
}
nav a:hover {
  color: #000;
}
.active {
  color: #000;
}
h1 {
  font-size: 2.5em;
}
h1,
h2,
h3,
h4 {
  font-family: "Palatino Linotype", georgia, serif;
}

nav,
header,
.icons,
.login-icon {
  display: inline-block;
}
.account-login {
  margin-left: 42px;
}
/* Movie nav */

.moviepagenav a {
  color: #000;
}
.moviepagenav a:hover {
  color: #fff;
}

/* CTA */
.cta {
  font-size: 1em;
  background-color: #f2b705;
  color: #000;
  text-decoration: none;
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  margin-right: 50px;
}
.cta:hover {
  background-color: #f5c432;
}
.link {
  color: #004349;
  text-decoration: none;
  font-style: italic;
}
.account {
  background: #f2b705;
  padding: 20px;
  border-radius: 2%;
}
.moviebackground {
  background-color: #707070;
}
.moviepagetext {
  color: #fff;
}
.moviepageline {
  color: #fff;
}
ul {
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}
ul a {
  text-decoration: none;
  color: #858585;
}
ul a:hover {
  color: #000;
}
.account-icon {
  max-width: 35px;
  margin-left: 50px;
}
.account-login {
  color: #000;
  text-decoration: none;
}
.account-list {
  font-size: 1rem;
  list-style-type: none;
}

footer::before,
footer::after {
  content: "/";
  font-size: 1.5rem;
  font-weight: bold;
}
