h1 {
  font-size: 2.2em;
  font-weight: 600;
  text-transform: uppercase;
}
h2 {
  font-size: 1.8em;
  opacity: 50%;
  margin-top: 30px;
  text-transform:capitalize;
}
h3{
  font-size: 2em;
  font-style: bold;
  text-transform: uppercase;
  margin-top:10%;
}
.social-icons-index{
  display:block;
}
.fa-facebook, .fa-instagram {
  font-size:1.6em;
  color:var(--link-color);
  margin-left:10px;
  cursor: pointer;
}
.link-2 {
  display: block;
  margin-left:10px;
  font-size:1em;
}
.link-2:hover, .fa-facebook:hover, .fa-instagram:hover {
  transform:scale(1.05);
}
.button {
  margin-top: 60px;
  margin-bottom: 35px;
}
.main-header-info {
  margin:0px auto;
  margin-top: 100px;
  margin-left:15%;
}
.main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:0 auto;
  margin-top:50px;
  margin-bottom:25px;
  max-width:85%;
}
aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right:5%;
}
.cta {
  margin-right: 35px;
}
.vertical-line {
  border: var(--vertical-line);
  max-height: 600px;
  margin-top: 50px;
  border:0;
  border-left: 1px solid rgba(0, 0, 0, 0.248);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
/*images watchers/producers*/
.film-makers {
  background-image: url(../images/Producer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin-left: 35px;
}

.film-watchers {
  background-image: url(../images/member.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 35px;
}

section.film-makers,
section.film-watchers {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: 150px;
}
.fa-chevron-down{
  margin-left:45%;
  font-size:3.5em;
  color:var(--main-yellow);
  margin-bottom:85px;
  margin-top:35px;
}
/*Info bottom index*/

.info-section-1, .info-section-2{
  width:100%;
  display:flex;
  flex-flow:row wrap;
}
.producer-image{
  background-image: url(../images/producer-image.jpg);
  width:100%;
  height:600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.member-image{
  background-image: url(../images/member-image.jpg);
  width:100%;
  height:600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.producers-info-section, .members-info-section, .info-images{
  width:50%;
  height:600px;
}
.members-info-section{
  background: rgb(246,162,40);
  background: linear-gradient(50deg, rgba(246,162,40,1) 20%, rgba(253,187,45,1) 57%);
  display:flex;
  flex-direction: column;
  align-items: center;
}
.members-info-section .cta{
  background-color: var(--link-color);
  color:#fff;
}
.producers-info-section{
  background: rgb(1,38,38);
  background: linear-gradient(201deg, rgba(1,38,38,1) 10%, rgba(0,67,73,1) 48%, rgba(2,89,89,1) 85%);
  color:#fff;
  display:flex;
  flex-direction: column;
  align-items: center; 
}
.members-info-section li,.producers-info-section li {
  margin-top:30px;
  font-size:1.5em;
}
.producers-info-section ul, .members-info-section ul{
  text-align: left;
  margin-bottom:50px;
  list-style-type: square;
}
/*Media queries*/

@media only screen and (max-width: 1700px) {
  aside {
    margin-right:5%;
  }
  .main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 auto;
    margin-top:50px;
    margin-bottom:25px;
    max-width:95%;
  }
}
@media only screen and (max-width: 1500px) {
  .cta {
    margin-right: 15px;
  }
  section.film-makers,
  section.film-watchers {
    max-width: 250px;
    height: 250px;
    margin-top: 125px;
  }
  aside {
    margin-top:35px;
    margin-right:50px;
  }
  .vertical-line {
    max-height: 400px;
  }
  .fa-chevron-down{
    font-size:3em;
    margin-bottom:65px;
    margin-top:50px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 1300px) {
  .text {
    font-size: 0.9em;
  }
  h3{
    margin-top:20%;
  }
  .members-info-section li,.producers-info-section li {
    font-size:1.2em;
  }
  aside {
    display: flex;
    flex-direction: column;
    margin-left:5%;
    margin-right:auto;
  }
  section.film-makers,
  section.film-watchers {
    margin-top: 25px;
  }
  .vertical-line {
    border: var(--vertical-line);
    margin-top: 25px;
    margin-right:10%;
    border:0;
    border-top: 1px solid rgba(0, 0, 0, 0.248);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .film-makers {
    margin-left:0;
  }
  .cta{
    font-size:1em;
  }
}
@media only screen and (max-width: 950px) {
  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.5em;
    margin-top:25%;
  }
  .members-info-section li,.producers-info-section li {
    font-size:1.1em;
  }
  .main-header-info {
    margin-top: 50px;
    margin-left:10%;
  }
  section.film-makers,
  section.film-watchers {
    max-width: 225px;
    height: 225px;
    margin-top:15px;
  }
  aside {
    margin-left:4%;
    margin-top:25px;
  }
}
@media only screen and (max-width: 820px) {
  aside {
    display: none;
  }
  h3 {
    font-size: 1.4em;
    margin-top:25%;
  }
  .main-header-info {
    margin-top:35px;
    margin-left:20%;
  }
  .main-section{
    margin-top:50px;
    margin-bottom:0;
  }
}
@media only screen and (max-width: 750px) {

  .info-section-1, .info-section-2{
    width:100%;
    display:flex;
    flex-flow:column;
  }
  .members-info-section{
    order:1;
  }
  h3 {
    font-size: 1.6em;
    margin-top:7.5%;
  }
  .main-header-info {
    margin-top:0px;
    margin-left:12%;
  }
  .producers-info-section, .members-info-section, .info-images{
    width:100%;
    height:450px;
  }
  .cta{
    max-width:120px;
  }
}
@media only screen and (max-width:450px) {

  .info-section-1, .info-section-2{
    width:100%;
    display:flex;
    flex-flow:column;
  }
  .members-info-section{
    order:1;
  }
  .main-section{
    max-width:85vw;
  }
  .main-header-info {
    margin-left:5%;
  }
  .producers-info-section, .members-info-section, .info-images{
    width:100%;
    height:450px;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.5em;
    margin-top:10%;
  }
  .cta{
    max-width:120px;
    font-size: 0.9em;
    padding-left:10px;
    padding-right:10px;
  }
}
@media only screen and (max-width:400px) {
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1.4em;
    margin-top:15%;
  }
  .cta{
    max-width:120px;
    font-size: 0.9em;
    padding-left:10px;
    padding-right:10px;
    display: block;
    margin:0 auto;
  }
  .cta:first-child{
    margin-bottom:15px;
  }
  .button{
    margin-top:50px;
    margin-right:10%;
  }
  .link-2{
    max-width:75%;
    font-size:1em;
  }
}
