main{
  overflow:hidden;
}
h1 {
  font-size: var(--size-h1);
  font-style: bold;
  text-transform: uppercase;
}
h2 {
  font-size:1.9em;
  opacity: 50%;
  margin-top: 30px;
  text-transform:capitalize;
}
h3{
  font-size:1.8em;
  font-style: bold;
  text-transform: uppercase;
}
.social-icons-index{
  display:block;
  margin-left:30%;
}
.fa-facebook, .fa-instagram {
  font-size:1.6em;
  color:var(--link-color);
  margin-left:10px;
}
.link-2 {
  display: block;
  margin-left:10%;
}
.link-2:hover {
  transform:scale(1.1);
}
.button {
  margin-top: 60px;
  margin-bottom: 35px;
}
.main-header-info {
  margin:0px auto;
  margin-top: 150px;
  margin-left:20%;
}
.main-section {
  display: flex;
  flex-flow: row wrap;
}
aside {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right:10%;
}
.cta {
  margin-right: 35px;
}
.vertical-line {
  border: var(--vertical-line);
  max-height: 550px;
  margin-top: 75px;
}

/*images watchers/producers*/
.film-makers {
  background-image: url(../images/Producer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin-left: 35px;
  /* box-shadow: 2px 10px 10px 5px #999999; */
}

.film-watchers {
  background-image: url(../images/member.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 35px;
  /* box-shadow: 5px 10px 10px 5px #999999; */
}

section.film-makers,
section.film-watchers {
  width: 325px;
  height: 325px;
  border-radius: 50%;
  margin-top: 200px;
}
.fa-chevron-down{
  margin-left:55%;
  font-size:3.5em;
  color:var(--main-yellow);
  margin-bottom:100px;
  margin-top:75px;
}
/*Info bottom index*/

.info-section-1, .info-section-2{
  width:100%;
  display:flex;
  flex-flow:row wrap;
  /* margin-left:20%; */
}
.producer-image{
  background-image: url(../images/producer-image.jpg);
  width:100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.member-image{
  background-image: url(../images/member-image.jpg);
  width:100%;
  height:500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.producers-info-section, .members-info-section, .info-images{
  width:50%;
  height:500px;
}
.members-info-section{
  text-align: center;
  /* background-color: var(--main-yellow); */
  background: rgb(253,187,45);
background: radial-gradient(circle, rgba(253,187,45,0.8155462868741247) 14%, rgba(253,187,45,1) 94%);
}
.members-info-section .cta{
  background-color: var(--link-color);
  color:#fff;
}
.producers-info-section{
  text-align: center;
  background-color:var(--link-color);
  color:#fff;
}
.members-info-section ul{
  text-align: left;
  margin-left:35%; 
  margin-bottom:50px;
  margin-top:40px;
  list-style-type:disc;
}
.members-info-section li,.producers-info-section li {
  margin-top:10px;
  font-size:1.3em;
}
.producers-info-section ul{
  text-align: left;
  margin-left:31%; 
  margin-bottom:50px;
  margin-top:40px;
  list-style-type: disc;
}
h3, .bullet-list{
  margin-top:10%;
}
/*Media queries*/

@media (max-width: 1575px) {
  section.film-makers,
  section.film-watchers {
    max-width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 150px;
  }
  aside {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 1150px) {
  section.film-makers,
  section.film-watchers {
    max-width: 225px;
    height: 225px;
    border-radius: 50%;
    margin-top: 100px;
    margin-right: 0px;
  }
  .film-makers {
    background-image: url(../images/Producer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    box-shadow: 2px 10px 10px 5px #999999;
    margin-left: 0px;
  }

  aside {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1.3em;
  }
  .film-watchers {
    margin-right: 20px;
  }
  .vertical-line {
    display: none;
  }
}

@media (max-width: 800px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.1em;
  }
  h3 {
    font-size: 0.9em;
  }
  .text {
    font-size: 0.9em;
  }
  section.film-makers,
  section.film-watchers {
    display: none;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
  .text {
    font-size: 1em;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 1em;
  }
  h2 {
    font-size: 0.9em;
  }
  h3 {
    font-size: 0.8em;
  }
  .text {
    font-size: 0.7em;
  }
  .main-section {
    margin-top: 75px;
    margin-left: 25px;
  }
  .cta {
    margin-right: 10px;
  }
}
