@font-face {
  font-family: "Palatino Linotype";
  src: url(https://fonts.adobe.com/fonts/latino-urw) format(URW);
}
body {
  font-family: verdana, tahoma, sans-serif;
}
.logo {
  background-color: #707070;
}
h1 {
  font-size: 2.5em;
}
h1,
h2,
h3,
h4 {
  font-family: "Palatino Linotype", georgia, serif;
}
nav li {
  display: inline-block;
  padding: 20px;
}
nav ul {
  padding: 0px;
}
nav a {
  color: #909090;
  text-decoration: none;
}
nav a:hover {
  color: #000;
}
.active {
  color: #000;
}
.moviepagenav a {
  color: #000;
}
.moviepagenav a:hover {
  color: #fff;
}
.cta {
  font-size: 1.2em;
  background-color: #f2b705;
  color: #000;
  text-decoration: none;
  padding: 5px;
}
.cta:hover {
  background-color: #f5c432;
}
.link {
  color: #004349;
  text-decoration: none;
  font-weight: italic;
}
.account {
  background: #f2b705;
}
.moviebackground {
  background-color: #707070;
}
.moviepagetext {
  color: #fff;
}
.moviepageline {
  color: #fff;
}
ul {
  padding: 0px;
  text-decoration: none;
}
ul a {
  text-decoration: none;
  color: #959595;
}
ul a:hover {
  color: #000;
}
.log-in-page {
  background-image: url(../images/Repeat\ Grid\ 15.png);
  background-repeat: no-repeat;
}
  
}

footer::before,
footer::after {
  content: "/";
  font-size: 20px;
  font-weight: bold;
}
