section.illustration {
  width: 600px;
  height: 600px;
}
.illustration {
  background-image: url(../images/Monitor.jpg);
  background-image: contain;
  background-repeat: no-repeat;
}
h1 {
  font-size: 30pt;
  text-transform: uppercase;
}
h2 {
  font-size: 25pt;
  text-transform: capitalize;
}
h3 {
  font-size: 15pt;
  text-transform: capitalize;
}
.text {
  font-size: 20pt;
  text-transform: uppercase;
  opacity: 50%;
}
