h1 {
  font-size: 2em;
  text-transform: uppercase;
}
h2 {
  font-size: 1.8em;
  text-transform: capitalize;
  text-align: center;
}
h3 {
  font-size: 1.2em;
  text-transform: capitalize;
}
.text {
  font-size: 1.4em;
  text-transform: uppercase;
  opacity: 50%;
  text-align: center;
}
/*account, members and producers*/
.account {
  max-width: 500px;
  height: auto;
  background:var(--main-yellow);
  padding: 50px;
  border-radius: 5px;
  border-width: 1px;
}
.account-list {
  font-size: 1.5em;
  list-style-type: none;
  padding: 0px;
}
.account-login {
  color: #000;
  text-decoration: none;
}
.account-list li{
  margin-bottom:45px;
}
.account-list a{
  text-decoration: none;
  color: #595959;
}
.account-list a:hover{
  color: #000;
}
.log-out {
  font-size: 1em;
  text-decoration: none;
  color: #000;
}
.active-list-item{
  color:#000;
}
/*grid*/
main {
  display: grid;
  grid-gap: 50px;
  justify-content: space-evenly;
  margin: 100px 50px;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "account content-2"
    "footer footer";
}
.account {
  grid-area: account;
}
.content-2 {
  grid-area: content-2;
  border-left:1px solid var(--gray-text-color);
  padding-left:75px;
  max-width:35vw;
}

/*Media */

@media (max-width: 800px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1em;
  }
  .text {
    font-size: 1em;
  }
  .account-list {
    font-size: 1.2em;
    list-style-type: none;
    padding: 0px;
  }
  .account-login {
    color: #000;
    text-decoration: none;
  }
  .number-one {
    margin-top: 35px;
  }
  .number-two {
    margin-top: 35px;
  }
  .number-three {
    margin-top: 35px;
    margin-bottom: 50px;
  }
  .log-out {
    font-size: 0.8em;
    text-decoration: none;
    color: #000;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
  .text {
    font-size: 1em;
  }
  .account-list {
    font-size: 1.2em;
    list-style-type: none;
    padding: 0px;
  }
  .account-login {
    color: #000;
    text-decoration: none;
  }
  .number-one {
    margin-top: 35px;
  }
  .number-two {
    margin-top: 35px;
  }
  .number-three {
    margin-top: 35px;
    margin-bottom: 50px;
  }
  .log-out {
    font-size: 0.8em;
    text-decoration: none;
    color: #000;
  }
  /*grid*/
  main {
    display: flex;
    flex-flow: column-reverse wrap;
    align-content: center;
  }
}
