.illustration {
  max-width: 33vw;
  height: auto;
  margin-top: 25px;
}
h1 {
  font-size: var(--size-h1);
  text-transform: uppercase;
}
h2 {
  font-size: 2em;
  text-transform: capitalize;
  text-align: center;
}
h3 {
  font-size: 1.2em;
  text-transform: capitalize;
}
.text {
  font-size: 1.4em;
  text-transform: uppercase;
  opacity: 50%;
  text-align: center;
}

/* flex */

/*grid*/
main {
  display: grid;
  grid-gap: 50px;
  justify-content: space-evenly;
  margin: 100px 100px 50px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "account vertical-line content-2"
    "footer footer footer";
}
.account {
  grid-area: account;
}
.content-2 {
  grid-area: content-2;
}
.vertical-line {
  border: var(--vertical-line);
  grid-area: vertical-line;
}

/*Media */

@media (max-width: 800px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1em;
  }
  .text {
    font-size: 1em;
  }
  .account {
    max-width: 500px;
    height: auto;
    background: linear-gradient(#f2b705, #a87e01);
    padding: 35px;
    border-radius: 30px;
    border-width: 1px;
    border-color: var(--main-yellow);
    box-shadow: 0px 10px 10px 6px #999999;
  }
  .account-list {
    font-size: 1.2em;
    list-style-type: none;
    padding: 0px;
  }
  .account-login {
    color: #000;
    text-decoration: none;
  }
  .number-one {
    margin-top: 35px;
  }
  .number-two {
    margin-top: 35px;
  }
  .number-three {
    margin-top: 35px;
    margin-bottom: 50px;
  }
  .log-out {
    font-size: 0.8em;
    text-decoration: none;
    color: #000;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
  .text {
    font-size: 1em;
  }
  .account {
    max-width: 33vw;
    height: auto;
    background: linear-gradient(#f2b705, #a87e01);
    padding: 35px;
    border-radius: 30px;
    border-width: 1px;
    border-color: var(--main-yellow);
    box-shadow: 0px 10px 10px 6px #999999;
    margin-top: 35px;
  }
  .account-list {
    font-size: 1.2em;
    list-style-type: none;
    padding: 0px;
  }
  .account-login {
    color: #000;
    text-decoration: none;
  }
  .number-one {
    margin-top: 35px;
  }
  .number-two {
    margin-top: 35px;
  }
  .number-three {
    margin-top: 35px;
    margin-bottom: 50px;
  }
  .log-out {
    font-size: 0.8em;
    text-decoration: none;
    color: #000;
  }
  .illustration {
    max-width: 50vw;
    height: auto;
    margin-top: 25px;
    margin-left: 25px;
  }

  /*grid*/
  main {
    display: flex;
    flex-flow: column-reverse wrap;
    align-content: center;
  }
  .vertical-line {
    border: var(--vertical-line);
    grid-area: vertical-line;
    display: none;
  }
}
