main{
  max-width:1980px;
  margin:0 auto;
}

h1 {
  font-size: var(--size-h1);
  text-transform: capitalize;
  margin-left: 35px;
}
h2 {
  font-size: var(--size-h2);
  margin-top: 35px;
  margin-left: 35px;
}
h3 {
  font-size: 1.1rem;
  font-family: verdana, tahoma, sans-serif;
  margin-left:25px;
  margin-bottom:0px;
}
.side-nav{
  font-size: 1em;
  padding-right:10px;
  margin-left:25px;
}
#dropdown-button{
  display: none;
}
/* persistant nav sticky-position */
.sticky-position-categories {
  position: fixed;
  border-right:1px solid var(--gray-text-color);
}
/* categories */

.side-nav > li {
  padding-top: 15px;
  list-style: none;
  margin-right:50px;
}
.fa-search{
  padding-left:5px;
  font-size:1.1em;
}

/*///////////////////////////////////////////*/
/*movies*/
.loader {
  border:5px solid rgba(0, 0, 0, 0.104);
  border-top: 5px solid var(--main-yellow);
  border-radius:50%;
  width:35px;
  height:35px;
  animation: loader 1.5s linear infinite;
  margin:0px auto;
  margin-top:50px;
}

.highlight-loader{
  border:5px solid rgba(0, 0, 0, 0.104);
  border-top: 5px solid var(--main-yellow);
  border-radius:50%;
  width:50px;
  height:50px;
  animation: loader 1.5s linear infinite;
  margin:0px auto;
}

@keyframes loader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.movies-section{
  margin-left:15%;
  max-width:85%;
}
#movie-divide-line{
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  max-width:95%;
}
.movie-content-container{
  max-width:85%;
  margin:0px auto;
}
.container {
  width: 225px;
  height: 140px;
  border-radius:5px;
  contain: content;
  transition: 0.2s ease-in-out;
  background-repeat: no-repeat;
  background-size:cover;
  cursor:pointer;
  box-shadow:var(--movie-box-shadow);
  margin-left:10px;
  margin-top:10px;
  margin-bottom:10px;
  flex-shrink:0;
}
.container:hover{
  transform:scale(1.07);
}
.content-flex {
  display:flex;
  max-height:200px;
  max-width:100%;
  align-content:flex-start;
  padding-bottom:5px;
  overflow:hidden;
}
.container h4 {
  font-family: verdana, tahoma, sans-serif;
  font-size: 1.5em;
  margin-left: 10px;
  position:absolute;
  color:#fff;
  bottom:1px;
}
.container p{
  font-family: verdana, tahoma, sans-serif;
  font-size: 1em;
  margin-left: 15px;
  position:absolute;
  color:#fff;
  bottom:-5px;
}

/*///////////////////////////////////////////*/
/*Movie highlight - Top of page*/
.container-highlight{
  width: 85%;
  height: 100%;
  border-radius:5px;
  transition: 0.2s ease-in-out;
  background-repeat: no-repeat;
  background-size:cover;
  cursor:pointer;
  background-position: center -300px;
  margin:0px auto;
  position:relative;
  box-shadow:var(--movie-box-shadow);
}
.container-highlight:hover {
  transform:scale(1.04);
}
#movies-highlight-content{
  height:350px;
  width:100%;
  margin-top: 75px;
  margin-bottom:50px;
}
#highlight-text{
  position:absolute;
  color:#fff;
  left:35px;
  bottom:20px;
  padding:0px 20px 10px 20px;
  border-radius:5px;
}
#highlight-text p{
  font-weight:300;
}
.container-highlight h4{
  font-family: verdana, tahoma, sans-serif;
  font-size: 2em;
  margin-bottom:10px;
}
.container-highlight p{
  font-family: verdana, tahoma, sans-serif;
  font-size: 1em;
}
.fa-heart{
  margin-left:10px;
}
.fas {
  font-size:0.8em;
}
.fa-heart:hover{
  color:rgb(230, 0, 0);
}
/*///////////////////////////////////////////*/
.flex-item {
  position:relative;
}
/*Pay per view*/
.fa-star{
  color:var(--main-yellow);
  font-size:0.8em;
}
#confirm-header{
  margin-top: 20px;
  margin-left: 0px;
}
#confirm-box {
  background-color: #fff;
  width:300px;
  height:auto;
  border: 1px solid #858585;
  border-radius:2px;
  text-align: center;
  padding:25px;
  position:absolute;
  left: 0;
  right: 0;
  margin: auto;
}
#confirm-box button{
  cursor:pointer;
}
.sticky-popup{
  position: sticky;
  top:35%;
  z-index:1;
}
.confirm-box-image{
  width:300px;
  background-repeat: no-repeat;
  background-size:cover;
}
.closing-icon{
  text-align: end;
  cursor:pointer;
}
#close-link{
  display:block;
  text-align: end;
  margin-top:25px;
  text-decoration: none;
  color:var(--link-color);
}
/* X-icon/icons */
.fa-times{
  color:#000;
  font-size:1.1em;
}
/* .fa-shopping-cart{
  font-size:0.7em;
} */
.container:hover .fa-shopping-cart, .container-highlight:hover .fa-shopping-cart{
  color:rgb(30, 148, 0);
}

/*///////////////////////////////////////////*/
/* Media Queries */
@media only screen and (max-width: 1600px) {
  .container-highlight{
    width: 85%;
    background-position: bottom;
  }
  #movies-highlight-content{
    height:300px;
  }
  .movies-section{
    margin-left:20%;
    max-width:80%;
  }
}
@media only screen and (max-width: 1000px) {
  .container-highlight{
    width: 85%;
    background-position: bottom;
  }
  #movies-highlight-content{
    height:250px;
  }
  .movies-section{
    margin-left:20%;
    max-width:80%;
  }
  .side-nav{
    padding:0;
    margin-left:40px;
  }
}
@media (max-width: 800px) {

  main {
    display: flex;
    flex-direction: column;
  } 
  .side-nav{
    display: none;
    border-top: 2px solid var(--main-yellow);
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    padding-bottom:50px;
    padding-top:25px;
    margin-left:0;
  }
  .side-nav li{
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    padding-bottom:15px;
    width:50%;
    margin-left:10%;
  }
  .sticky-position-categories {
    z-index: 99;
    border-right:none;
    background-color: #fff;
    left:0;
    right:0;
  }
  .movies-section{
    margin-left:5%;
    max-width:90%;
  }
  #dropdown-button{
    display: block;
    margin-bottom:25px;
    border:none;
    background-color: var(--main-yellow);
    padding:10px;
    border-radius: 45px;
    width:100px;
    margin-left:80vw;
  }
  aside{
    position: relative;
  }
  h1 {
    font-size: var(--size-h1);
    text-transform: capitalize;
    margin-left: 35px;
  }
  h2 {
    font-size: var(--size-h2);
    margin-top: 35px;
    margin-left: 35px;
  }
  h3 {
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  h4 {
    font-size: 1.1em;
    margin-left: 5px;
  }

  .categories {
    font-size: 1.2em;
  }
  .time-year {
    font-size: 0.4em;
  }
  .movie-info {
    font-size: 0.7em;
  }
  .heart-icon {
    height: 15px;
    width: 15px;
    float: right;
    margin-right: 20px;
  }
  .producer-name {
    font-size: 0.7em;
  }
  .text {
    margin-top: 100px;
  }
  .time-year {
    font-size: 0.7em;
  }
  .text-2 {
    margin-left: 35px;
  }
}
