h1 {
  font-size: 2rem;
  text-transform: capitalize;
}
h2 {
  font-size: 1, 5rem;
  margin-top: 35px;
}
h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
}
h4 {
  font-size: 1em;
}
.categories {
  font-size: 1.1rem;
}
.time-year {
  font-size: 0.5em;
}
.movie-info {
  font-size: 0.7em;
  max-width: 250px;
}
.heart-icon {
  height: 12px;
  width: 12px;
  margin-left: 10px;
}
.producer-name {
  font-size: 0.5em;
}
.text {
  margin-top: 75px;
  margin-left: 30px;
}
.rating {
}

/* categories */

.action {
  padding: 10px;
}
.comedy {
  padding: 10px;
}
.thriller {
  padding: 10px;
}
.horror {
  padding: 10px;
}
.drama {
  padding: 10px;
}
.romantic {
  padding: 10px;
}
.popular {
  padding: 10px;
}

/* movies */

#container {
  padding: 5px;
  max-width: 230px;
  border-width: 1px;
  border-style: outset;
}
