h1 {
  font-size: 2rem;
  text-transform: capitalize;
}
h2 {
  font-size: 1, 5rem;
  margin-top: 35px;
}
h3 {
  font-size: 1.25rem;
  text-transform: uppercase;
}
h4 {
  font-size: 1.2em;
  margin-left: 5px;
}

.categories {
  font-size: 1.4rem;
}
.time-year {
  font-size: 0.5em;
}
.movie-info {
  font-size: 1em;
}
.heart-icon {
  height: 15px;
  width: 15px;
  float: right;
  margin-right: 20px;
}
.producer-name {
  font-size: 0.7em;
}
.text {
  margin-top: 100px;
  margin-left: 75px;
}
.time-year {
  font-size: 0.7em;
}
/* persistant nav sticky-position */

.sticky-position {
  position: sticky;
  top: 10px;
}
.sticky-position-categories {
  position: fixed;
}
/* categories */

.action {
  padding: 10px;
}
.comedy {
  padding: 10px;
}
.thriller {
  padding: 10px;
}
.horror {
  padding: 10px;
}
.drama {
  padding: 10px;
}
.romantic {
  padding: 10px;
}
.popular {
  padding: 10px;
}

/*movies*/

.container {
  max-width: 300px;
  height: auto;
  border-width: 1px;
  border-color: white;
  border-style: outset;
  box-shadow: 0px 3px 6px 0px #999999;
  contain: content;
}
.container-info {
  padding: 5px;
  margin-left: 5px;
}

/* flexbox movies */

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 450px;
  margin-top: 200px;
}
.container {
  margin-top: 125px;
  margin-right: 50px;
}
/*grid/layout*/

.shoppingcart {
  height: 15px;
  width: 15px;
  margin-left: 10px;
}

/* flex/grid */
