h1 {
  font-size: var(--size-h1);
}
.fas {
  margin-left: 20px;
  font-size: 0.7em;
}
h2 {
  font-size: var(--size-h2);
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}
h3 {
  font-size: 1em;
}
.movie-text {
  font-size: 1em;
  max-width: 33vw;
}
.movie-info {
  font-size: 0.9em;
}
.rating {
  size: 30px;
}
body, header{
  background-color:rgb(41, 41, 41);
}
.movie-text-area {
  color: #fff;
}
.moviepageline {
  color: #fff;
  margin: 75px 150px 75px 150px;
}

/* layout */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 100px;
}
.flex-container-2 {
  display: flex;
  justify-content: center;
}
.other-movies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 75px 100px 75px 100px;
}
/* Movie nav */

.moviepagenav a {
  color: #000;
}
.moviepagenav a:hover {
  color: #fff;
}
